* {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
}

body {
	background: #F6F5FA;
	color: #444;
	font-size: 15px;
}

header {
	background: #fff;
	border-bottom: 2px solid #E8E8E8;
	padding: 10px 0;
	text-align: center;
}

header * {
	display: inline-block;
	vertical-align: middle;
}

header h1 {
	font-size: 30px;
	margin: 0;
}

header img {
	margin-right: 10px;
}

.box {
	border: 2px solid #E8E8E8;
}

.box.score {
	margin-bottom: 30px;
}

.box.score .box-content h3 {
	font-size: 30px;
	margin: 0;
	text-align: center;
}

.box h2 {
	background: #F7F9FE;
	border-bottom: 2px solid #E8E8E8;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.box .box-content {
	background: #fff;
	padding: 10px;
}

.content {
	margin: 0 auto;
	width: 1100px;
}

.lastResult {
	text-align: center;
}

.lastResult .label {
	color: #fff;
	display: none;
	font-size: 20px;
	margin: 30px 0 0;
	padding: 10px 30px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.lastResult .label.deuce {
	background: #f39c12;
	border: 2px solid #e67e22;
}

.lastResult .label.lose {
	background: #e74c3c;
	border: 2px solid #c0392b;
}

.lastResult .label.win {
	background: #2ecc71;
	border: 2px solid #27ae60;
}

.option {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

.option:hover {
	cursor: pointer;
}

.option:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.option img {
	max-height: 225px;
	-moz-transition: .25s all ease;
	-webkit-transition: .25s all ease;
	transition: .25s all ease;
	max-width: 100%;
}

.pure-form input[type=text]:focus, 
.pure-form input[type=password]:focus, 
.pure-form input[type=email]:focus {
	border-color: #3498db;
}

.right {
	text-align: right;
}

.wrapper {
	margin: 50px 10px 0;
}