<template name="game">
	<div class="box">
		<h2>Select your weapon</h2>
		<div class="box-content">
			<div class="pure-g">
				<div class="pure-u-1-3">
					<div class="option" data-value="stone">
						<img src="/options/stone.png" alt="stone">
					</div>
				</div>
				<div class="pure-u-1-3">
					<div class="option" data-value="paper">
						<img src="/options/paper.png" alt="paper">
					</div>
				</div>
				<div class="pure-u-1-3">
					<div class="option" data-value="scissor">
						<img src="/options/scissor.png" alt="scissor">
					</div>
				</div>
			</div>
			<div class="lastResult">
				<p class="label win">
					<strong>You win (:</strong>
				</p>
				<p class="label lose">
					<strong>You lose :(</strong>
				</p>
				<p class="label deuce">
					<strong>Deuce :|</strong>
				</p>
			</div>
		</div>
	</div>
</template>