<template name="game">
	<h2>Select your weapon</h2>
	<div class="pure-g">
		<div class="pure-u-1-3">
			<div class="option" data-value="stone">
				<img src="/options/stone.png" alt="stone">							
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="option" data-value="paper">
				<img src="/options/paper.png" alt="paper">							
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="option" data-value="scissor">
				<img src="/options/scissor.png" alt="scissor">							
			</div>
		</div>
	</div>
	<p class="lastResult">
		<span>Last result: </span>
		<strong class="label win">You win (:</strong>
		<strong class="label lose">You lose :(</strong>
		<strong class="label deuce">Deuce :|</strong>
	</p>
</template>